extends layout 

block content 
    section
        #main.container
            #main2.clearfix
                #content
                    p.fs-1.text-center 식물 조회
                    #plant_list
                        ul.row 
                            each a in data
                            
                                .plant_info.col-md-4
                                    .col-md-12.mt-2.mb-2.border.border-success
                                        .plant_name 
                                            a.fs-5(href='/detail/'+a.plant_num)=a.plant_name
                                        .plant_id.text-center
                                            a(href='/detail/'+a.plant_num)
                                                img.img-fluid(src=a.image href='/detail/'+a.id)
                
                    nav.nav-success.pb-2(aria-label='Page navigation example')
                        ul#my.pagination.justify-content-center
                            -var curSet = pasing.curSet
                            -var endPage = pasing.endPage
                            -var startPage = pasing.startPage
                            -var totalSet = pasing.totalSet
                            -var totalPage = pasing.totalPage
                            -var page_list_size = pasing.page_list_size
                            -var page_size = pasing.page_size
                            -var curPage = pasing.curPage
                            if(curSet > 1)
                                li.page-item(value=(startPage-1))
                                    a.page-link(href='/pasing/'+( startPage - 1)) 이전페이지
                            - for(var i= startPage;i<= endPage;i++)
                                if(i > totalPage)
                                    - break
                                if(i == curPage)
                                    li.page-item.active(value= i)
                                        a.page-link(href = '/pasing/'+i)=i
                                else
                                    li.page-item(value=i)
                                        a.page-link(href = '/pasing/'+i)=i
                            if(curSet < totalSet)
                                li.page-item.next(value=(endPage +1))
                                    a.page-link(href='/pasing/'+(endPage+1)) 다음페이지
